#Build Folder
build/
build_release/

tests/build/
tests/build_san/

#Executables
tracker/tracker
client/client
tracker/tracker-release
client/client-release

#Testing Payloads
*.bat
*.bin
*.zip
*.dat
*.tex

#Local file
tracker_info.txt

#Editor Specific
.vscode/
*.swp
*~