#Build Folder
build/
tests/build/
tests/build_san/

#Executables
tracker/tracker
client/client

#Testing Payloads
*.bat
*.bin
*.zip
*.dat
*.tex

#Local file
tracker_info.txt

#Editor Specific
.vscode/
*.swp
*~